*{
  margin: 0px 0px;
  padding: 0px 0px;
}
.App_body{
  display: flex;
  width: 100%;
  height: 100vh;
}

@media only screen and (max-width: 1000px) {
  .App_body{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
  }
}